<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Batch:</strong>
<<<<<<< HEAD
  <%= @channel.batch.name %>
</p>

 <h2>Chat Application</h2>
=======
  <%= @channel.batch_id %>
</p>
<h2>Chat Application</h2>
>>>>>>> db754f1daea8bb25d8a149c65640efbc484cb827

 <ul id = "chat">
 	<%= render @channel.messages %>
 </ul>
 
 <div id= "chatbox">
 	<%=form_for Message.new ,remote: true do |f| %>	
 	<%= f.text_field :content %>
 	<%= f.hidden_field :channel_id , value: @channel.id %>
 	<%= f.submit "send" %>
 	<% end %>
 </div>

<<<<<<< HEAD
<%= subscribe_to "/#{@channel.name}/new" %>

=======
<%= subscribe_to "/@channel.name/" %>
>>>>>>> db754f1daea8bb25d8a149c65640efbc484cb827

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
